*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial;
    color: #d2effa;
    line-height: 1.6;
    background-color: black;
}
hr{
    height: 1px;
    border: none;
    background-color: #f0f87d;
}
a{
    color: white;
    text-decoration: none;


}
a:hover{
    color: rgb(0, 255, 221);
    transform: scale(1.2);
}
header{
    height: 100%;
    background-color: rgb(4, 5, 46);
    color: rgb(216, 224, 105);
    text-align: center;
    padding: 30px;
}
header h1{
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: bold;
}
nav{
    padding: 10px;
    background-color: rgb(12, 9, 39);
}
nav ul{
    list-style: none;
    text-align: center;
    
}
nav li{
    padding-right: 20px;
    padding-left: 20px;
    display: inline;
    margin: 0 15px;
    font-weight: bold;
    
}
nav ul li a{
    font-weight: bold;    
    transition: all 0.3s ease;
    display: inline-block;
}
.img-head{
    display: block;
    margin: 10 auto;
    width:100%;
}
 main{ 
    display: flex;
    gap: 20px;
    padding: 20px;
}
main section{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
section{
    margin-bottom: 20px;
}
#conteudo{
    width: 70%;
}
.img-lateral{
    height: 100px;
    width: 160px;
    float: left;
    margin: 0 10px 10px 0;
    border-radius: 8px;

}
article{
    background-color: rgb(3, 21, 59);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #1e88e5;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.p1{
    padding-top: 10px;
}
article img{
    padding-right: 10px ;
}
aside{
   width: 20%;

}
.lateral{
    padding: 20px;
    background:black;
    color:white ;
}
aside img{
    margin: 0 10px 10px 0;
} 
.data{
    color:gray;
}
footer{
    background-color: rgb(12, 9, 39);
    padding:10px;
}

#titulo{
    color: rgb(216, 224, 105);
}
  